.input-field label {
    color: #448aff;
}
.input-field .prefix.active {
    color: #448aff;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #448aff !important;
    box-shadow: 0 1px 0 0 #448aff !important
}

.input-field input:focus + label {
    color: #448aff !important;
}

.timepicker-container {
    background-color:#448aff !important;
}

.timepicker-digital-display {
    background-color: #448aff !important;
}

.timepicker-container button{
    color:white !important;
}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #448aff;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border-color: #448aff !important;
}
[type="radio"] + span {
    font-size: 1.2rem !important;
}

[type="radio"]:checked + span {
    font-weight: bold;
}